.formC{
  display: flex;
}


table {
  background-color: #aeb5f7;
  text-align: center;
  border: 1px solid #464646;
}


th, td {
  text-align: center;
  vertical-align: top;
  border: 1px solid #8f8f8f;
  height: 40px;
  width: 150px;
}



.div-pair-container
.form-group{
  display: inline-block;
}
