#map {
  display: block;
position: absolute;
top: 0;
bottom: 0;
width: 100%;
}

.list-group {
  position: fixed;
  bottom: 150px;
  right: 20px;
  cursor: pointer;
}

button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.toggleMap{
  position: fixed;
  top: 50px;
  height: 50px;
}
