
<div class="column-2">
  <h1>About me</h1>
  <p>Hola! Soy Alex Centeno, estudiante de ingenieria de la Universidad Israel.
    This site is a demonstration website for the tutorial series "
    <a href="https://www.digitalocean.com/community/tutorial_series/how-to-build-a-website-with-css">How To Build a Website With CSS</a>,
    " which walks you through building and customizing this website from start to finish.</p>
  <p>If you're following this tutorial series, you can replace this text with your own "About Me" content.</p>

  <p>email: alexcenteno@uisrael.com</p>
</div>

<div class="column-2 large-profile">
</div>
