<div class="column-2 about-me">
  <h1>Sobre este proyecto</h1>
  <p>
    El proyecto de Alarma Comunitaria con Tecnología LoRa en el Barrio Comite
    Promejoras de la Pampa I, Quito busca mejorar la seguridad y colaboración
    entre los residentes mediante una innovadora solución de comuniación.Con
    tecnológia LoRa, se logra un amplio alcance y bajo consumo de energía
    garantizando. La comunicación robusta y confiable. Además su implementación
    económica y escalable hace posible adaptarse al creciemiento del barrio.La
    red de alarma fortalecerá la colaboración comunitaria entre vecinos y
    autoridades locales,reduciendo tiempos de respuesta para servicios de
    emergencia y contribuyendo a un ambiente más seguro y conectado
  </p>
  <p><strong> &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; Universidad Tecnológica Israel</strong></p>
  <p><strong> &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   Ingeniería en Telecomunicaciones</strong></p>
  <p>Nombre: <strong>Alex Centeno</strong></p>
  <p>email: <strong> fabryalex@hotmail.com</strong></p>
  <p>Teléfono: <strong> +593 987035821</strong></p>
</div>

<div class="column-2 large-profile"></div>
