<div class="column-2 about-me">
  <h1>Sobre este proyecto</h1>
  <p>
    El Proyecto de Alarma Comunitaria con Tecnología <strong>LoRa</strong> en el <strong>Barrio Comité
    Promejoras de la Pampa 1</strong>, Quito, busca mejorar la seguridad y colaboración
    entre los residentes mediante una innovadora solución de comunicación. Con
    tecnología <strong>LoRa</strong>, se logra un amplio alcance y bajo consumo de energía,
    garantizando una cobertura total del barrio. La comunicación robusta y
    confiable se traduce en una respuesta rápida ante situaciones de emergencia
    y prevención de incidentes. Además, su implementación económica y escalable
    hace posible adaptarse al crecimiento del barrio. La red de alarma
    fortalecerá la colaboración comunitaria, permitiendo una comunicación
    instantánea entre vecinos y autoridades locales, reduciendo tiempos de
    respuesta para servicios de emergencia y contribuyendo a un ambiente más
    seguro y conectado.
  </p>

  <p>email: <strong> fabryalex@hotmail.com</strong></p>
  <p>teléfono: <strong> +593 987035821</strong></p>
</div>

<div class="column-2 large-profile"></div>
