* {
  box-sizing: border-box;
}

/* Create two equal columns that float next to each other */
.column-2 {
  float: left;
  width: 48%;
  padding: 10px;
  padding-left:10px;
  padding-right: 10px;
  height: 470px;
  /* margin:18px; */
  margin-top: 10px;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 0px;
  background-color: #6a98ee;
  line-height:1.5;
  border-radius: 20px;
  box-shadow: 6px 5px 6px 0px rgba(0, 0, 0, 0.7);
}

.column-2 .about-me{
  margin-left: 0px;
  margin-right:0px;
}

/* Large profile image */
.large-profile {
  background: url('../../../../assets/person.webp');
  background-size: cover;
  background-position: center;
}


.about-me h1{
text-align: center;
}

.about-me p{
  text-align:justify;
}
